/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#wrapper {
    width: 80%;
    margin: 0 auto;
}

.task_name {

}

.task_deadline {
    width: 15%;
}

.task_registered {
    width: 15%;
}

.task_button {
    width: 10%;
}

table#todo {
    text-align: center;
}

.end {
    text-align: right;
}